{% extends 'scriptus/sw_base.html' %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}

{% load sw_extra %}
{# Load the remaining static files #}
{% load staticfiles %}

{% load templatetag_handlebars %}
{% block sw_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/vis/dist/vis.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scriptus/css/sw_storyboard.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
<!-- link rel="stylesheet" type="text/css" href="{% static 'vendor/bootcards/dist/css/bootcards-android.min.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/sweetalert/dist/sweetalert.css' %}">
{% endblock %}

{% block sw_content %}
<div class="row sw_sb_content">
  <h1>Storyboard for story {{story}}</h1>
  <div id="sw_timeline"></div>
</div>
<div class="row">
  <div class="col-sm-5 ">
    <div class="scene-list">
      <div class="panel panel-default">
	<div class="list-group" id="scene_list">
	  <li class="list-group-item" id="sw_sc_buttons">
	  </li>

	  <li class="list-group-item" id="sw_sc_controls">
	    <div class="input-group">
	      <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
	      <input id="scTitleFilterField" type="text" class="form-control" placeholder="Scene name..." aria-describedby="basic-addon1" ></input>
	    </div>

	  </li>
	  <li class="list-group-item text-center" id="sw_sc_pagination">
	     <ul class="pagination" id="sw_sc_pager">
	     </ul>
	  </li>
	  {% for scene in scenes.timed %}
	  <a class="list-group-item sw_dated_scene_item sw_scene_item"
	     data-scid="{{ scene.id }}"
	     data-start="{{ scene.timeframe.tf_start }}"
	     data-end="{{ scene.timeframe.tf_end }}"
	     data-url="{% url 'scene-detail' scene.id  %}"}
	     >

            <h4 class="list-group-item-heading">{{scene.scene_title}}</h4>
            <p class="list-group-item-text">
	      Start : {{ scene.timeframe.tf_start }} - End : {{ scene.timeframe.tf_end }}
	    </p>
	  </a>
	  {% endfor %}
	  {% for scene in scenes.untimed %}
	  <a class="list-group-item sw_scene_item"
	     data-scid="{{ scene.id }}"
	     data-url="{% url 'scene_json' %}"}
	     >

            <h4 class="list-group-item-heading">{{scene.scene_title}}</h4>
            <p class="list-group-item-text">No time yet</p>
	  </a>
      {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    {% with scenes.timed|first as fst_scene %}

    <div class="panel panel-default" id="sc_main_panel">
    </div>
    {% endwith %}
  </div>
  <input type="hidden"
	 id="scene-service-url"
	 data-url="{% url 'scene-list' %}" />
</div>
{% endblock %}

{% block bootstrap3_extra_script %}
<!-- HANDLEBAR Templates -->

<!-- vendor scripts -->
<!-- moment which takes a moment to load -->


<!--script src="{% static 'scriptus/sw_handlebars.js' %}" ></script-->
<script type="text/javascript" src="{% static 'vendor/moment/min/moment.min.js' %}"></script>

 <script type="text/javascript" src="{% static '/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>


<!-- main script content -->

<script src="{% static 'scriptus/js/storyboard.bundle.js' %}" type="text/javascript" charset="utf-8" ></script>

{% endblock %}
