  <div class="btn-group" role="group">
    <button type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      {{ current_action }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="sc-filter-mode"
          >All scenes</a>
      </li>
      <li><a
        class="sc-filter-mode"
        data-mode="timed"
          >Dated only</a></li>
          <li><a class="sc-filter-mode"
            data-mode="untimed"
            >Without date</a></li>
    </ul>
  </div>
  <button class="btn pull-right btn-danger ">New</button>