.vis-item .vis-item-overflow {
  overflow: visible;
}
body {
  padding-top: 50px;
}

.sw_sb_content {
  padding: 40px 15px;
  text-align: center;
}

#sw_sc_pagination {
    padding: 0 0 0 0;
}

#sw_sc_pager {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}